body{
	padding: 0;
	margin: 0;
	box-sizing: border-box!important ;
	font-family: 'Alata', sans-serif;
}


h1{              /*weather widget heading*/
	text-align: center;
	color: rgb(30, 9, 61);
	padding: 7vh ;	
}

#box{
	width: 320px;
	height: 420px;
	/*background-image: linear-gradient(rgb(47,150,163),rgb(48,62,143));*/
	position: relative;
	margin: auto;
	border-radius: 10px;
}
#wrapper{           /*content in box*/
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: black;
	font-weight: bolder;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.temperature{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.location-timezone{
	text-align: center;
	padding: 1.5vh;
}

.icon{
	text-align: center;
}

.description{
	text-align: center;
	padding-bottom: 2vh;
	font-size: 20px;
}

p{
	font-size: 24px;
}

h5{
	text-align: left;
	padding: 1vh;
}

.degree-section{
	display: flex;
	align-items: center;
}

#next-city-button{
	padding-top: 5vh;

}

#text-inside-button{
	padding: 10px 35px;
	background-color: #2C96D0!important;
}


@media(max-width: 500px){
	h1{
		padding: 6vh;
		font-size: 9vw;
	}
}
